<html>
<head>
        <title>Handle POST requests with Flask</title>

    </head>
    <body>
      <div id="container">
          <div class="title">
              <h1>POST request with Flask</h1>
          </div>
          <div id="content">
              <form method="POST" action="{{ url_for('hello') }}">

                <label>Please enter a valid url example:-https://github.com/Shippable/support</label>

                <label for="enter">Please enter full URL of GitHub repository</label>
                <input type="text" name="url" />&nbsp;&nbsp;

                <input type="submit" value="submit" />
              </form>
          </div>

      </div>
    </body>
</html>
